<h2>Lista de Postagens</h2>
<hr>
<a href="/admin/postagens/add" class="btn btn-primary">Nova Postagem</a>

{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
         <div class="d-flex align-items-center">
            <h4 class="mb-0">{{titulo}}</h4>
            <small class="ms-3 btn btn-dark btn-sm disabled">{{categoria.nome}}</small>
        </div>
        <p>Descrição: {{descricao}}</p>
        <small>{{formatDate date}}</small>
        <div class="mt-3">
            <a href="/admin/postagens/edit/{{_id}}" class="btn btn-warning">Editar</a>
            <form action="" method="" style="display: inline;">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger ms-2">Excluir</button>
            </form>
        </div>
    </div>
</div>
{{else}}
<h4 class="mt-4 text-secondary">Não há Postagem Registada</h4>
{{/each}}